body{

    min-height: 95vh;

}
main{
    margin-top: 10px;
}
.imagebox{
    width: 300px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    margin: 20px 10px 0 10px ;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    
}

  .imagebox:hover {
    /* Apply the scale transformation when the div is hovered */
    transform: scale(1.1);
  }
  
.imagebox p{
    margin-left: 5px;
}
img{
    max-width: 100%;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
a:any-link{
    text-decoration: none;
    color:white;

}
footer{
    text-align: center;
}